@model IEnumerable<AquaWorld.Web.Models.OrderViewModel>
@{
    ViewBag.Title = "MyOrders";
}

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.8)">
    <p>My orders:</p>
    <hr />
    @foreach (var order in Model)
    {
        @Html.DisplayFor(o => order);
    }
</div>

