
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="text-align:center; background-color: rgba(255, 255, 255, 0.8)">
    <h2>Select what to do:</h2>
    @Html.ActionLink("Add new creature", "AddCreature", new { area = "" }, new { @class = "btn btn-success" })
</div>