@{
    ViewBag.Title = "About";
}
<div class="jumbotron" style="text-align:center; background-color: rgba(255, 255, 255, 0.8)">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>
