@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Aqua World</h3>
    <p style="color:greenyellow">Jenkins - Automated Deployment Test</p>
    <i class="lead">Order rare creatures online.</i>
    <p><a href="/creatures" class="btn btn-primary btn-lg">Catalogue &raquo;</a></p>
</div>